#HomePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#HomeHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.home-config {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    cursor: pointer;
}

#HomeContent {
    height: 90%;
}

#HomeFilters {
    height: 33%;
}

.home-filters-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.home-filters-filters {
    width: 100%;

    display: flex;
    align-items: center;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.home-input-filters {
    min-width: 20rem;
    height: 54px;
    margin-top: 1rem;
    background: #D9D9D9;
    border-radius: 27px;
}

#HomeListLocations {
    height: 67%;
    padding: 0.5rem;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.list-locations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.location-details-content {
    height: 100%;
}

#HomeFooter {
    background-color: red;
    display: flex;
    justify-content: space-around;
}